/* Adding Styles for main-container */

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main-content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid gray */
}


/* Adding style for main heading ToDo Lists */

.main-heading {
    width: 85%;
    display: flex;
    align-items: center;
    /* border: 2px solid red */
}

.heading-task {
    font-weight: bolder;
    font-size: 70px;
}

.heading-list {
    font-weight: 100;
    color: gray;
    font-size: 70px;
    margin-left: 8px;
}

.fas {
    color: tomato;
    font-size: 36px;
    margin-top: 25px;
    margin-left: auto;
}

.heading-add {
    font-weight: 100;
    color: gray;
    font-size: 34px;
    margin-left: 12px;
    margin-top: 46px;
}


/* Adding style for main cards */

.main-card {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 2px solid green; */
}


/* Assign the card property */

.cards {
    width: 25%;
    border: 1px solid tomato;
    border-radius: 10px;
    box-shadow: 6px 6px 7px 4px lightgray;
    margin-bottom: 25px;
}

.card-heading {
    margin-left: 50px;
}

.headingstyle {
    color: tomato;
    font-weight: lighter;
    font-size: 28px;
    margin-bottom: 15px;
}

hr {
    color: gray;
    height: 1px;
    background-color: lightgray;
}

.headingstyle2 {
    color: tomato;
    font-weight: 600;
    text-align: center;
    font-size: 26px;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    margin-top: 35px;
}

.boxw {
    width: 18px;
    height: 18px;
    margin-left: 12px;
}

.check {
    font-size: 24px;
    margin-bottom: 160px;
}


/* Adding Style to change the position */

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow */
}

.anchors {
    margin: 20px 25px;
    text-decoration: none;
    font-size: 24px;
    color: tomato;
}