.main-container {
    position: relative;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.upper-content {
    width: 32%;
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    border: 1px solid tomato;
    border-radius: 10px;
    box-shadow: 6px 6px 7px 4px lightgray;
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.heading-decoration {
    color: tomato;
    font-weight: 400;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.boxtext {
    width: 68%;
    height: 35px;
    border: 1px solid tomato;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 2px lightgray;
    outline: tomato;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: tomato;
    color: white;
    font-size: 26px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchors {
    text-decoration: none;
    margin: 0px;
}

.location {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid yellow */
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}